@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');



:root {
    --black: #000000;
    --orange: #f89646;
    --blue: #6bb7be;
    --bg_color: #f9fafa;
    --footer_color: #191e1f;
    --white: #ffffff;
    scroll-behavior: smooth;
}

body{
    padding: 1% 3%;
}

img {

    max-width: 100%;
}
.btn {
    height: 40px;
    width: 120px;
    border: 0;
    margin: 20px;
    color: white;

}

.hero .left,
.hero .right {
    width: 50%;
}
a {
    color: black;
    text-decoration: none;
}

* {
    box-sizing: border-box;
    font-family: "Cairo", sans-serif;

}

.center {
    text-align: center;
}

.upper {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}

.bold {
    font-weight: bold;

}
/* ? ------------------ nav styles ------------------*/
nav {
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

nav ul {
    gap: 15px;
    margin: 0;
    display: flex;
    width: 40%;
    justify-content: space-between;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: #000000;
}

nav .login {
    display: flex;
    gap: 15px;
}


@media (max-width:750px) {
    nav {
        flex-direction: column;
        gap: 20px;
        align-items: center;

    }

    nav ul {
        width: initial;
        gap: 5%;
    }

}
/* *******************end nav***************** */


/* ? ------------------  start furn styles ------------------*/

.furn {
    padding: 8% 12%;
}

.furn .itemsContainer {

    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-top: 30px;

}

.furn .itemsContainer .top,
.furn .itemsContainer .bottom {
    display: flex;
    gap: 7%;

}

.itemsContainer .item {
    background-color: var(--bg_color);
    padding: 30px;
    border-radius: 7px;
    text-align: center;
    width: 30%;
    height: 350px;
}

.itemsContainer .item img {
    height: 50%;
}

.details {
    color: var(--blue);
    display: flex;
    justify-content: space-between;

}

h5 {
    text-align: initial;
}

.price::before {
    content: "$";
    color: var(--blue);
}

.item .details a {
    color: var(--blue);
}

.itemsContainer .item .details span {
    color: initial;
}

@media screen and (max-width:750px) {
    .itemsContainer .item img {

        max-width: 50%;
        height: auto;
    }
}

@media screen and (max-width:500px) {
    .itemsContainer .item {
        flex-direction: column;
        width: 100%;
    }


}
/* ? ------------------  end fur styles ------------------*/

/* ?******** start links*********** */
.links_container {
    display: flex;
    justify-content: center;
    gap: 5%;
    background-color: var(--footer_color);
    color: white;
}

.links_container .left {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 33%;
}

.links_container .left .links {
    line-height: 26px;


}

.links_container .left .call {
    margin-top: 50px;
    margin-bottom: 100px;
    text-align: center;
    font-size: 20px;
}

.links_container .left .spa {
    color: white;
}

.links_container .mid {

    width: 33%;

}

.links_container .mid .email {
    padding: 38px;
    display: flex;
    gap: 5%;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
}

.links_container .mid .instigram .img_cont {

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
}

.links_container .mid .instigram .img_cont img {
    width: 90px;
    background-color: var(--bg_color);
    height: 90px;
}

.links_container .mid .instigram .img_cont .top,
.links_container .mid .instigram .img_cont .bottom {
    display: flex;
    gap: 7px;

}

.links_container .right {
    padding: 38px;
    display: flex;
    gap: 5%;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
}

.links_container .right .signin {
    display: flex;
    flex-direction: column;
    align-items: baseline;

}

.links_container .right .signin .bottom {
    display: flex;
    gap: 50px;
}




.links_container .right .signin input {
    width: 300px;
    height: 35px;
}

.links_container .right .signin button {
    background-color: var(--blue);
}



@media screen and (max-width:1100px) {
    .links_container {
        flex-direction: column;
        align-items: center;
    }

}

.big {
    font-size: 40px;
    color: var(--blue);


}

/* ?******** end links*********** */
/* ?******** start footer*********** */
.footer_section {
    display: flex;
    justify-content: center;
    font-size: 20px;
    padding-top: 10px;
}

/* ?******** end footer*********** */



